@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "微软雅黑";
	font-size: 18px;
	font-weight: bold;
	width: 1000px;
	margin: 0 auto;
}

table {
	margin-top: 20px;
} 

thead {
	background-color: #040000;
	color: #ffffff;
	text-align: left;
}

tr:nth-child(even) {
	background-color: #d0cacc;
}

tbody tr:FIRST-CHILD {
	color: #ff564f;
}

tr:nth-child(2), tr:nth-child(3) {
	color: #ff564f;
}

input {
	width: 100px;
	height: 20px;
	border: 2px solid #e0e0e0;
	margin-top: 20px;
	transition: width 2s;
	-webkit-transition: width 2s;
	-moz-transition: width 2s;
}

input:FOCUS {
	width: 200px;
	border: 3px solid #8ebadd;
	border-radidus: 5px;
}

div {
	margin-top: 20px;
	width: 280px;
	height: 110px;
	background-color: #008100;
	position: relative;
}

div>section {
	width: 28px;
	height: 28px;
	position: absolute;
	bottom: 0;
	background-color: #7fc27d;
	text-align: center;
}

div>section:nth-child(1) {
	right: 70px;
}

div>section:nth-child(2) {
	right: 35px;
}

div>section:nth-child(3) {
	right: 0px;
}
